.breed-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: start;
}

.breed-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-radius: 5%;
  padding: .5rem;

  img {
    max-width: 15rem;
  }

  p {
    font-size: 1.3rem;
    font-weight: 500;
  }
}
